*:not(.Clickable)
{
    cursor: url('./Images/cursor.cur'), auto;
}

header
{
    background: linear-gradient(to bottom, Black, #292a2b);
}

footer
{
    background: linear-gradient(to bottom, #292a2b, Black);
}

body
{
    background-color: #292a2b;
}

p, h1, h2, h3, h4, h5, h6, tr, td
{
    color:white;
}

p
{
    font-size: 12px;
}



/*****************/
/*    CLASSES    */
/*****************/



.ImageAccueil
{
    height: 100vh;
}

.PremierLore
{
    font-size: 20px;
    text-align: justify;
}

.PremierLore.Oldenburg, .Oldenburg
{
    font-family: 'Oldenburg';
}

.CadreImage
{
    border: 1px solid;
    border-color: #bf9d37;
    max-width: 100%;
    max-height: 100%;
}

.ImageRonde
{
    border-radius: 50%;
    width: 9vw;
    height: 9vw;
}



/*TABLEAU*/



.Tableau, .Centrer
{
    text-align: center;
}

.Tableau.Nom
{
    font-size: 20px;
}

.Tableau.Role
{
    font-size: 16px;
}

.CentrerTableau
{
    margin-left: auto;
    margin-right: auto;
}

.Clickable
{
    cursor: pointer;
}



/*FIN TABLEAU*/

/*DIAPORAMA*/



.custom-slider { display: none; }

.slide-container
{
    max-width: 95%;
    position: relative;
    margin: auto;
}

.prev, .next
{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    font-size: 30px;
    background-color: rgba(0,0,0,0);
    transition: background-color 0.6s ease;
}

.prev{ left: 15px; }
.next { right: 15px; }

.prev:hover, .next:hover
{
    background-color: rgba(0,0,0,0.5);
}

.slide-text
{
    position: absolute;
    color: #ffffff;
    font-size: 15px;
    padding: 15px;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.slide-index
{
    color: #ffffff;
    font-size: 13px;
    padding: 15px;
    position: absolute;
    top: 0;
}

.slide-img
{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.slide-dot
{
    text-align: center;
}

.dot
{
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover
{
    background-color: #111111;
}

.fade
{
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade
{
    from {opacity: 0}
    to {opacity: 1}
}



/*FIN DIAPORAMA*/