/*
    Écrit par Florian Boireau
    https://github.com/Skulls23
    Maintenu par Arnaud Lysensoone Bijou
    https://github.com/NymePse
*/

/* VARIABLES */
:root {
    --noir: #292A2B;
    --jaune: #BF9D37;
    --decoupage_image_accueil: polygon(50% 0%, 75% 100%, 0% 100%, 0% 0%);
    --margin-vertical: 2vh;
}

/* BASES DOCUMENT */
body, html {
    padding: 0;
    margin: 0;
    background-color: var(--noir);
    color: white;
}

h1, h2, h3 {
    text-align: center;
    color: var(--jaune);
}

a {
    color: inherit;
}

/* ACCUEIL */
#division_accueil_boutons {
    margin: var(--margin-vertical) auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (max-width: 1079px) {
    #image_accueil_fond {
        width: 100vw;
    }
}

@media screen and (min-width: 1080px) {
    #division_accueil_texte {
        height: 100vh;
        overflow: hidden;
    }
    
    #image_accueil_fond {
        height: 100vh;
        float: left;
        clip-path: var(--decoupage_image_accueil);
        shape-outside: var(--decoupage_image_accueil);
    }
}

/* EQUIPE */
#flexbox_equipe {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.carte_equipe {
    width: 250px;
}

.image_equipe {
    display: block;
    margin: 0 auto 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.nom_equipe {
    text-align: center;
}

.liste_postes_equipe {
    list-style: none;
    width: fit-content;
    margin: 10px auto;
    padding: 0;
}

.division_liens_equipe {
    text-align: center;
}

.separateur_equipe {
    width: 75%;
}

/* GALERIE */
#division_video {
    position: relative;
    display: block;
    width: 90%;
    height: 0;
    margin: auto;
    padding: 0% 0% 56.25%;
    overflow: hidden;
}

iframe {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/* SLIDESHOW : W3School https://www.w3schools.com/howto/howto_js_slideshow_gallery.asp */
.container * {
    box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container 
{
    position: relative;
}

/* Hide the images by default */
.mySlides 
{
    display: none;
}

/* Next & previous buttons */
.prev, .next 
{
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next 
{
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover 
{
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext 
{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container 
{
    text-align: center;
    padding: 2px 16px;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: space-around;
    padding: 1vh 0;
    background-color: var(--jaune);
}